.timer {
    --border-radius: 0.4rem;
}

.timer svg {
    width: 60%;
}

.timer .parent {
    display: grid;
    align-items: center;
    justify-items: center;
}

.timer .child {
    grid-area: 1 / 1 / 2 / 2;
}

.timer input {
    appearance: none;
    border: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-radius: var(--border-radius);
}

.timer input:focus {
    outline: none;
}

.timer input,
.timer button {
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
}

.timer button {
    margin: 0.3rem;
}

.timer .time-field-container {
    font-size: 0.7rem;
    display:flex;
    flex-direction: column;
    text-align: left;
}

.timer .time-fields {
    display: flex;
}

/* Middle fields */
.timer .time-fields :not(:first-child):not(:last-child) input {
    border-radius: 0;
}

.timer .time-fields :first-child input {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.timer .time-fields :last-child input {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}